<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- code for project page -->
<!DOCTYPE html>
<html>
   <head>
      <title>HTML Links</title>
   </head>

   <body>
      <h1>Reach us here</h1>
      <a href="https://www.squarespace.com/website-design/?channel=pnb&subchannel=bing&campaign=pnb-bing-ca-en-website_general-e&subcampaign=(general_best-websites_e)&gclid=dd1c03f05edc16a24452620f634e31b9&gclsrc=3p.ds&&utm_source=bing&utm_medium=pnb&utm_campaign=pnb-bing-ca-en-website_general-e&utm_term=best%20websites&gclid=dd1c03f05edc16a24452620f634e31b9&gclsrc=3p.ds&msclkid=dd1c03f05edc16a24452620f634e31b9&utm_content=general">projects</a>
   </body>
</html>

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  


